body,
#bg {
  background-image: url("./images/sunflowers.jpeg");
  min-height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.card,
.date {
  background: linear-gradient(
    120deg,
    rgba(60, 31, 60, 0.599),
    rgba(51, 93, 165, 0.545),
    rgba(96, 96, 198, 0.526)
  );
}
h1,
h3,
h4 {
  font-size: 3rem;
}

.search button i {
  font-size: 1.5rem;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.col img {
  width: 40px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.weather {
  display: none;
}
.error {
  text-align: left;
  margin-left: 10px;
  font-size: 1rem;
  display: none;
}

.clouds {
  background-image: url("./images/cloud-sky.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.clear {
  background-image: url("./images/sunny.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
