html,
body {
  height: 100%;
  margin: 0;
  background: rgb(97, 90, 210);
  background: linear-gradient(
    90deg,
    rgba(97, 90, 210, 1) 0%,
    rgba(152, 128, 194, 1) 46%,
    rgba(104, 193, 210, 1) 100%
  );
}

.notes {
  display: flex;
  height: 100%;
}

.notes * {
  font-family: sans-serif;
}

.notes__sidebar {
  border-right: 2px solid #dddddd;
  flex-shrink: 0;
  overflow-y: auto;
  padding: 1em;
  width: 300px;
}

.notes__add {
  background: rgb(144, 81, 221);
  border: 1px solid silver;
  border-radius: 7px;
  box-shadow: 2px 5px 10px 0px rgba(8, 8, 8, 0.75);
  color: #eae8e8;
  cursor: pointer;
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 1em;
  padding: 0.75em 0;
  width: 100%;
}

.notes__add:hover {
  background: rgb(136, 32, 187);
}

.notes__list-item {
  cursor: pointer;
}

.notes__list-item--selected {
  background: #eeeeee;
  border-radius: 7px;
  font-weight: bold;
}

.notes__small-title,
.notes__small-updated {
  padding: 10px;
}

.notes__small-title {
  font-size: 1.2em;
}

.notes__small-body {
  padding: 0 10px;
}

.notes__small-updated {
  color: #aaaaaa;
  font-style: italic;
  text-align: right;
}

.notes__preview {
  display: flex;
  flex-direction: column;
  padding: 2em 3em;
  flex-grow: 1;
}

.notes__title,
.notes__body {
  border: none;
  border-radius: 10px;
  outline: none;
  background: none;
  width: 100%;
}

.notes__title {
  font-size: 3em;
  font-weight: bold;
}

.notes__body {
  flex-grow: 1;
  font-size: 1.2em;
  line-height: 1.5;
  margin-top: 2em;
  resize: none;
}
