.notes * {
  font-family: sans-serif;
}

.notes__add {
  width: 90%;
}

.notes__list-item {
  cursor: pointer;
}

.notes__list-item--selected {
  background: #eddda5;
  border-radius: 7px;
  font-weight: bold;
}

.notes__small-title,
.notes__small-updated {
  padding: 10px;
}

.notes__small-title {
  font-size: 1.2em;
}

.notes__small-body {
  padding: 0 10px;
}

.notes__small-updated {
  color: #f2cb3d;
  font-style: italic;
  text-align: right;
}

.notes__title,
.notes__body {
  border: none;
  border-radius: 10px;
  outline: none;
  background: none;
  width: 100%;
}

.notes__title {
  font-size: 3em;
  font-weight: bold;
}

.notes__body {
  font-size: 1.2em;
  line-height: 1.5;
  resize: none;
}
